.root {
	-fx-background-color: white;
	-fx-font-size: 20;
}

#SchoolName {
	-fx-text-fill: blue;
}

#AppName {
	-fx-text-fill: red;
	-fx-font-size: 25;
	-fx-font-weight: bold;
}

#login {
	-fx-text-fill: white;
	-fx-background-color: #4285f4;
	-fx-font-size: 18;
}

#login:hover {
	-fx-background-color: #2e77f1;
}

#username:hover, #password:hover {
	-fx-background-color: #ffffb7;
}

#menubar {
	-fx-font-size: 12;
}

.button {
	-fx-font-size: 20;
	-fx-text-fill: white;
}

